.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #1d1d1f;
}

.navLinks {
  list-style-type: none;
  display: flex;
}

.navLinks li {
  margin-left: 2rem;
}

.navLinks li a {
  text-decoration: none;
  color: #1d1d1f;
  font-weight: medium;
}

.navLinks li a:hover {
  color: #007aff;
}
